.headerData
{
    background-color: blue;
    display: inline-flex;
    width: 100%; 
    margin: 0;
    padding: 2.5px;
}
.starIcon
{
    color: #fcba12;
    font-size: 30px;
}
.buttonColor
{
    background-color: blue;
}
.buttonImageColor
{
    color: white !important;
    font-size: 20px;
}

.fieldDataColor
{
    color: white !important;
}

.fieldsAndIcons
{
    text-align: end;
     width: 100%;
}