
<app-header></app-header>
<div class="Large">
    <div class="filterHome">
        <h3>Filters</h3>
        <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
        <p class="price"> Price</p>
        <button mat-raised-button (click)="sendFilterData(minValue,maxValue)" style="background-color: #fcba12;border-radius: 25px;">Apply</button>
    </div>
    
    <div class="sortHome">
        <div class="sortHomeInside">
            <h3>Sort By</h3>
            <button mat-button (click)="sortData('high')">Price -- High Low</button>
            <button mat-button (click)="sortData('low')">Price -- Low High</button>
            <button mat-button (click)="sortData('discount')">Discount</button>
        </div>
        <app-shopping-list></app-shopping-list>
    </div>
</div>
<div class="Mobile">   
    <div class="dialogBox">
        <button mat-raised-button (click)="openFilterDialog()">Filters</button>
        <button mat-raised-button (click)="openSortDialog()">Sort</button>
    </div>
    <app-shopping-list></app-shopping-list>
</div>